@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div>
  <br/>
  <form>
    <div class="form-group">
      <label asp-for="Username"></label>
      <input asp-for="Username" type="text" class="form-control">
    </div>
    <button type="submit">Login</button>
  </form>


</div>
